<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SALT-MVVM_TEST.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3692D9D291154D200A2F3A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3692DB3291154D400A2F3A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3692DBD291154D400A2F3A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
